.photo {
  display: grid;
  border-radius: .2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 20px #141518;
}
.photo:nth-child(2) {
  grid-column: 2/4;
  grid-row: span 2;
  width: 100%;
  
}
.photo:nth-child(4) {
  grid-column: 1/3;
  grid-row: span 2;
  
}
.photo div {
  grid-area: 1/1;
}
.photo .acessos{
  background: rgba(0, 0, 0, .3);
  color: white;
  font-size: 0rem;
  text-align: center;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  grid-area: 1/1;

  opacity: 0;
  transform: scale(.8);

  display: none;
}

.photo:hover .acessos {
  display: flex;
  animation: spanOppcity .2s forwards;
}

.acessos::before {
  content: '';
  width: 36px;
  height: 20px;
  display: inline-block;
  margin-right: .5rem;
  background: url('../../Assets/visualizacao.svg') no-repeat;
  background-size: contain;

}

@keyframes spanOppcity {
  to {
    opacity: 1;
    transform: scale(1);
    font-size: 1.5rem;
  }
}

@media (max-width: 40rem) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row:initial;
  }
  .photo:nth-child(4) {
    grid-column: initial;
    grid-row: initial;
  }
}