.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
input {
  border: 2px solid #0E1013;
  width: 100%;
  display: block;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: .4rem;
  background: #1B1D20;
  transition: .2s ease-in;
  color: #fff;
  margin-bottom: 1rem;
}
label.photoLabel {
  display: block;
  margin-bottom:1rem;
  color: #b0b2b3;
}
input.photoImg{
  cursor: pointer;
}
.imgPreview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
}
.imgPreview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}
@media screen and (max-width:40rem) {
  .photoPost {
    grid-template-columns: 1fr;
  }
}