.form {
  margin:1rem 0;
}
.perdeu {
  display: inline-block;
  color: #AA88FF;
  padding: .5rem 0;
  line-height: 1;
}
.perdeu::after {
  content: '';
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}
.cadastrar {
  margin-top: 4rem;
}
.cadastrar p {
  margin: 2rem 0;
  color: #b0b2b3;
}
.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
  color: #eee;
}
.subtitle::after {
  content: '';
  display: block;
  background: #ddd;
  height: .5rem;
  width: 3rem;
  border-radius: .2rem;
}